h1
{
    text-align: center;
    color: grey
}
.address
{
    text-align: center;
    font-size: small;
}
.surname
{
    text-align: center;
    color: black;
}
h5
{
    text-align: center; 
    color: green;
}
div
{
    padding-left: 120px;
    padding-right: 120px;
}
td
{
    color: green;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15;   
}
.data
{
    color: #4f4d4d;
}
.date
{
    color:#4f4d4d; 
}
li
{
    color: green;
}
.point
{
    color: #4f4d4d;
}
ul.a 
{
    list-style-position: outside;
}
.collapse 
{
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}  
.active,.collapse:hover 
{
    background-color: #4f4d4d; 
} 
.panel 
{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.collapse:after
{
   content: '\22C1';
  color:white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  }
  .active:after
{
    content: "\22C0";
}