@keyframes heading { 
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
  }
  @keyframes lines { 
    from {left: -1500px;}
  to {left: 0px;}
  }
  @keyframes detail { 
    from {bottom: -1000px;}
  to {bottom: 0px;}
  }
h1
{
    text-align: center;
    color: grey;
    animation: heading 2s;
    position: relative;
}
.address
{
    text-align: center;
    font-size: small;
    animation: heading 2s;
    position: relative;
}
.surname
{
    text-align: center;
    color: black;
}
h5
{
    text-align: center; 
    color: green;
    animation: heading 2s;
    position: relative;
}
hr
{
    animation: lines 2s;
    position: relative;
}
.space
{
    padding-left: 120px;
    padding-right: 120px;
}
.objective
{
    animation: heading 3s;
    position: relative;
}
td
{
    color: green;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15;   
}
.data
{
    color: #4f4d4d;
}
.date
{
    color:#4f4d4d; 
}
li
{
    color: green;
}
.point
{
    color: #4f4d4d;
}
ul.a 
{
    list-style-position: outside;
    padding-left:10px;
}
.collapse 
{
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position: relative;
    bottom:-1000px;
}  
.active,.collapse:hover 
{
    background-color: #4f4d4d; 
} 
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }  
.collapse:after
{
   content: '\22C1';
  color:white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  }
  .active:after
{
    content: "\22C0";
}