@keyframes name_address_email { 
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes heading_separator_line { 
    from {left: -1500px;}
    to {left: 0px;}
}
html
{
    overflow-y: scroll;
}
h1
{
    text-align: center;
    color: grey;
    animation: name_address_email 2s;
    position: relative;
    display: block;
}
.address
{
    text-align: center;
    font-size: small;
    animation: name_address_email 2s;
    position: relative;
    display: block;
}
.surname
{
    text-align: center;
    color: black;
}
h5
{
    text-align: center; 
    color: green;
    animation: name_address_email 2s;
    position: relative;
    display: block;
}
hr
{
    animation: heading_separator_line 2s;
    position: relative;
}
.spacing
{
    padding-left: 120px;
    padding-right: 120px;
}
.objective
{
    animation: heading 3s;
    position: relative;
}
td
{
    color: green;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15;   
}
.data
{
    color: #4f4d4d;
}
.date
{
    color:#4f4d4d; 
}
li
{
    color: green;
}
.bullet_point
{
    color: #4f4d4d;
}
ul.a 
{
    list-style-position: outside;
    padding-left:10px;
}
.section_header 
{
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative;
    opacity: 0;
    top:100%;
    transition: ease-out;
}  
.active,.section_header:hover 
{
    background-color: #4f4d4d; 
} 
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }  
.section_header:after
{
   content: '\22C1';
  color:white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  }
  .active:after
{
    content: "\22C0";
}